<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Pic:</strong>
<%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Big List', ideas_path %>
